html,
body {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction:column;
  height: 100vh;
}

main {
  flex: auto;
  margin-bottom: 50px;
  padding: 0 20px;
}

.primary {
  color: colors(primary, base);
}

.secondary {
  color: colors(secondary, base);
}

.wrapper {
  box-sizing: border-box;
  padding: 0;
  width: 100%;

  @include for-tablet-portrait-up {
    max-width: 1000px;
    display: flex;
    margin: 0 auto;

    .sidebar {
      margin: 0 50px 0 0;
      width: 200px;
    }
  }

  .content {
    margin: 40px auto;

    @include for-tablet-portrait-up {
      flex: 1;
      margin: 0 auto;
    }
  }
}

.main {
  box-sizing: border-box;
  padding: 0;
  width: 100%;

  @include for-tablet-portrait-up {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.banner {
  box-sizing: border-box;
  display: flex;
  margin: auto;
  padding: 10px;
  justify-content: space-between;
  width: 100%;

  a {
    color: inherit;
    text-decoration: none;
  }

  @include for-tablet-portrait-up {
    .brand {
      flex: 1;
      max-width: 400px;
    }
  }

}

.page_title {
  box-sizing: border-box;
  margin: auto;
  padding: 20px;
  text-align: center;
  width: 100%;

  @include for-tablet-portrait-up {
    padding: 25px 20px 25px 250px;
    text-align: left;
  }

}

footer {
  box-sizing: border-box;
  flex-shrink: 0;
}

.main-content {
  box-sizing: border-box;
  padding-top:30px;
}

.primary_banner {
  box-sizing: border-box;
  border-top: 1px solid #dcdee0;
  border-bottom: 1px solid #dcdee0;
}

.banner,
.wrapper,
.page_title,
.header_nav .primary,
.footer_nav,
.footer .sub-footer {
  width: 100%;

  @include for-tablet-portrait-up {
    max-width: 1000px;
    display: flex;
  }
}
