@include for-tablet-landscape-up {
  .search-form {
    align-content: center;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    width: 100%;

    .search-submit {
      align-self: center;
      background-color: colors(primary, base);
      border-radius: 0 5px 5px 0;
      color: colors(text, inverse);
      height: 32px;
      margin: 0;
      padding: 3px 5px;
      width: 30px;
    }

    .search-label {
      align-self: center;
      box-sizing: border-box;
      flex: 1;
      margin: 0;

      input {
        border-radius: 0;
        box-sizing: border-box;
        width: 100%;
      }
    }
  }
}

.search_category {
  margin-bottom: 35px;
}

.search-form {
  display: none;
}

@media (min-width: 40em) {
  .search-form {
    margin: 0;
    max-width: 250px;
  }
}
