.surplus_headers,
.surplus_listing {
  color: colors(text, base);
  border-bottom: 2px solid transparent;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  text-decoration: none;

  &:hover {
    border-bottom: 2px solid colors(primary, base);
    cursor: pointer;
  }

  .mobile-hide {
    display: none;
  }

  .desktop-only {
    display: none;
  }

  @include for-tablet-portrait-up {
    grid-template-columns: 1.5fr 1fr 1fr .75fr .75fr 1.5fr;

    .mobile-hide {
      display: block;
    }
  }

  @include for-tablet-landscape-up {
    grid-template-columns: 1.5fr 1fr 1fr 1fr .8fr 1fr 1.25fr 1fr;

    .desktop-only {
      display: block;
    }
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
    padding-right: 25px;
  }

  .pad i {
    padding-right: 25px;
  }

  div,
  a {
    position: relative;

    &:first-child {
      padding-left: 20px;
    }

    .fa-sort-numeric-down,
    .fa-sort-numeric-up,
    .fa-sort-alpha-down,
    .fa-sort-alpha-up,
    .fa-long-arrow-alt-down,
    .fa-long-arrow-alt-up {
      bottom: 0;
      right: 0;
      position: absolute;
    }
  }
}

.surplus_headers {
  background-color: colors(primary, lighter);

  input {
    position:absolute;
    opacity:0;
  }

  a {
    color: colors(text, base);
    font-weight: 600;
    text-decoration: none;
  }
}

.surplus_listing {
  border-bottom: 1px solid colors(primary, base);
}

.address {
  span,
  strong {
    display: inline-block;
    vertical-align: top;
  }
}
