.ncbus_category {
  background-color: colors(grey, lighter);

  header {
    margin: 0;
    padding: 10px;
    text-align: center;

    h2 {
      color: colors(text, inverse);
      @include font($font-stack-system, '2', light);
    }
  }

  section {
    padding: 15px;
  }

  .category_links li {
    list-style-type: none;
    margin: 5px 0;
  }
}

.flexible .ncbus_category {
  width: 100%;

  @include for-tablet-landscape-up {
    width: 30%;
  }
}
