.flexible {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  section,
  article,
  p,
  div,
  .flex_fill,
  .wide,
  .half,
  .third {
    flex: 100%;
  }

  .wide {
    margin: .5em auto;
  }

  @include for-tablet-portrait-up {
    .flex_fill {
      flex: 1;
    }

    .third {
      min-width: 30%;
    }
  }


  @include for-tablet-landscape-up {
    section,
    article,
    p,
    .flex_fill {
      flex: 1;
    }

    div {
      flex: none;
      width: auto;
    }

    .wide {
      min-width: 100%;
    }

    .half {
      min-width: 45%;
    }

    .third {
      min-width: 30%;
    }
  }
}
