$background: #ffffff;

$colors: (
  primary: ( //blue
    base: #44799C,
    light: #8AB2CC,
    lighter: #DBE7EF,
    dark: #00486F,
    darker: #00334D
  ),
  secondary: ( //yellow
    base: #FFD800,
    light: #FFD800,
    lighter: #FFD800,
    dark: #FFD800,
    darker: #FFD800
  ),
  grey: (
    base: #757575,
    light: #adadad,
    lighter: #e6e6e6,
    dark: #5c5c5c,
    darker: #454545
  ),
  text: (
    base: #1b1b1b,
    inverse: #ffffff
  )
);


$type-scale: (
  '-2':   12px, //h6, caption
  '-1':   14px, //h5
  'base': 16px,
  '1':    18px, //h4
  '2':    22px, //h3, callout
  '3':    26px, // h2
  '4':    34px, //h1
);

$line-height: (
  0: 0.5,
  1: 1,
  2: 1.2,
  3: 1.35,
  4: 1.5,
  5: 1.62,
  6: 1.75,
);

$font-stack-system: -apple-system,
                    BlinkMacSystemFont,
                    'Segoe UI',
                    Roboto,
                    Helvetica,
                    Arial,
                    sans-serif,
                    'Apple Color Emoji',
                    'Segoe UI Emoji',
                    'Segoe UI Symbol';
